body{
    width: 1400px;
    height: 1200px;
    background-color: aqua;
}
#image1{
    width: 100px;
    height: 100px;
    /* float: left; */

}
#image2{
    width: 100px;
    height: 100px;
    /* float: right; */

}
h1{
    color: blue;
    font-weight: 10px;
}